.caja{
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 23%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 70%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: auto;
    width: 400px;
    padding-bottom: 50px;
    padding-top: 25px;
}